@font-face {
    font-family: 'SukhumvitSet';
    src: url('fonts/SukhumvitSet-Bold.eot');
    src: url('fonts/SukhumvitSet-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/SukhumvitSet-Bold.woff') format('woff'),
         url('fonts/SukhumvitSet-Bold.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Bold.svg#boon') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SukhumvitSet';
    src: url('fonts/SukhumvitSet-Thin.eot');
    src: url('fonts/SukhumvitSet-Thin.eot?#iefix') format('embedded-opentype'),
         url('fonts/SukhumvitSet-Thin.woff') format('woff'),
         url('fonts/SukhumvitSet-Thin.ttf') format('truetype'),
         url('fonts/SukhumvitSet-Thin.svg#boon') format('svg');
    font-weight: normal;
    font-style: normal;

}