body{
	font-size: 1em;
  line-height: 1.625em;
	background-color: $white-bg;
	color: $text-black;
  font-family: 'boon';
  &.fixed{
  	overflow: hidden;
  	width: 100%;
  	height: 100%;
  }
}

h1,h2,h3,h4,h5,h6{
  font-family: 'boon';
	font-weight: bold;
}

#wrapper{
	position: relative;
}

.hero-unit{
	width: 95%;
	margin: auto;
	@media #{$xlg}{
		width: 100%;
	}
}

.short-divider{
	margin: 20px auto;
	content: '';
	border-bottom: 1px solid $divider-color;
	width: 30%;
	@media #{$lg}{
		margin: 20px 10px 20px auto;
		text-align: right;
	}
}

.icon-menu{
	position: fixed;
	top: 3px;
	left: 7px;
	font-size: 82px;
	color: $black-bg;
	z-index: 10;
	@media #{$md}{
		display: none !important;
	}
	@include transition(all 0.2s linear);
	&:hover{
		color: $black-bg;
		text-decoration: none;
	}
	&:before,
	&:after{
		cursor: pointer;
		position: absolute;
		height: 4px;
		border-radius: 1px;
		width: 26px;
		left: 6px;
		background-color: $black-bg;
		content: '';
		display: block;
		@include transition(all 0.2s linear);
	}
	&:before{
		top: 11px;
	}
	&:after{
		bottom: -9px;
	}
	&.active{
		visibility: hidden;
		color: $text-white;
		@include transition(all 0.2s linear);
		&:before{
			visibility: visible;
			top: 19px;
			background-color: $text-white;
			@include transform(rotate(45deg));
		}
		&:after{
			visibility: visible;
			top: 19px;
			background-color: $text-white;
			@include transform(rotate(-45deg));
		}
	}
}