body{
	font-size: 1em;
  line-height: 1.625em;
	background-color: $gray-bg;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'boon';
	font-weight: bold;
}

.hero-unit{
	width: 95%;
	margin: auto;
}

h1 {
  font-size: 4.25em;
  line-height: 1.147058823em;
  margin-top: 0.76470588em;
  margin-bottom: 0.38235294em;
}
h2 {
  font-size: 2.625em;
  line-height: 1.238095238em;
  margin-top: 1.23809524em;
  margin-bottom: 0.61904762em;
}
h3 {
  font-size: 1.625em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}
h4 {
  font-size: 1em;
  line-height: 1.625em;
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}

/* Sanitation */
hr {
  border: 1px solid;
  margin: -1px 0;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
b, strong, em, small, code {
  line-height: 1;
}
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}