.home-post-list{
	.post-block{
		&+.post-block{
			margin-top: 30px;
		}
		&:nth-child(2){
			@media #{$sm}{
				margin-top: 0;
			}
			@media #{$md}{
				margin-top: 30px;
			}
			@media #{$lg}{
				margin-top: 0;
			}
		}
		&:last-child{
			@media #{$md}{
				.uk-article-divider{
					border-color: transparent;
				}
			}
			@media #{$lg}{
				.uk-article-divider{
					border-color: #ddd;
				}
			}			
		}
	}
	.uk-article{
		figure{
			overflow: hidden;
		}
		.home-post-image{
			@include transition( all .15s linear );
			&:hover{
				opacity: 0.8;
				filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
			}
		}
		.post-title{
			font-size: 1.6em;
			line-height: 1.8em;
			margin: 0 0 5px;
			font-weight: bold;
			color: $text-black;
			@include ellipsis(95%);
			display: block;
			a{
				&:hover{
					@include transition( all .15s linear );
					color: $text-gray;
				}
			}
		}
		.post-meta{
			font-size: 12px;
			line-height: 1.4em;
			margin: 0 auto 10px;
			a{
				color: $text-black;
				font-weight: bold;
				text-decoration: none;
				padding: 0 3px;
				&:hover{
					background-color: $black-bg;
					color: $text-white;
				}
			}
		}
		.post-excerpt{
			margin: 0 auto 10px;
			font-family: 'boon';
			line-height: 1.7em;
			@media #{$xlg}{
				font-size: 1.1em;
			}
			a{
				color: $black-bg;
				font-weight: bold;
				text-decoration: none;
				padding: 0 3px;
				&:hover{
					color: $text-white;
					background-color: $black-bg;
				}
				&.more-text{
					color: $text-black;
					font-size: 0.9em;
					white-space: nowrap;
					&:hover{
						color: $text-white;
					}
				}
			}
		}
		.uk-article-divider{
			margin-top: 30px;
			@media #{$lg}{
				display: none;
			}
		}
	}
}