.home-right-block{
	padding: 50px 0 20px;
	position: relative;
	@include box-sizing(border-box);
	z-index: 2;
	@media #{$md}{
		float: left;
		padding-left: 293px;
		width: 100%;
	}
	@media #{$lg}{
		float: left;
		position: absolute;
		padding-left: 390px;
		padding-top: 30px;
		.hero-unit{
			width: 95%;
			margin: auto;
		}
	}
	@media #{$xlg}{
		padding: 20px 0 20px;
		width: 100%;
		padding-left: 35%;
		.hero-unit{
			max-width: 680px;
			margin-left: 20px;
		}
	}
}